/* ul 관련  */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Nanum Gothic', sans-serif
}

a {
    color: #fff;
    text-decoration: none !important;
    outline: 0
}

a:hover, a:active {
    text-decoration: none;
    color: #fff
}

a {
    color: inherit !important
}

.ul-default {
    list-style: none;
    overflow: hidden;
    padding: 0
}

.ul-default li {
    float: left
}

.fl {
    float: left
}

.fr {
    float: right
}

.of-h {
    overflow: hidden
}

.t-a-c {
    text-align: center
}

.t-a-l {
    text-align: left
}

.t-a-r {
    text-align: right
}

.d-tc {
    display: table-cell !important;
    vertical-align: middle !important
}

.d-t {
    display: table !important;
    height: 100% !important;
}

.bold {
    font-weight: 700 !important;
}

.non_bold {
    font-weight: 400 !important;
}

.color-bl-gr {
    color: #00a4ac !important;
}

.color-red {
    color: #f15748 !important;
}

.color-default-gray {
    color: #707070 !important;
}

.color-white {
    color: #FFF !important;
}

.fs-20 {
    font-size: 20px
}

.fs-19 {
    font-size: 19px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.p-5 {
    padding: 5px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-20 {
    padding: 20px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.pr-5 {
    padding-right: 5px !important;
}

.w100per {
    width: 100% !important
}

.w100p {
    width: 100px !important
}

.w150p {
    width: 150px !important
}

.w200p {
    width: 200px !important
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
